@use "../abstracts/mixins.scss" as m;
@use "../abstracts/variables" as v;

body {
    @include m.flex();
    font-family: v.$ff;
    background-color: v.$light-grayish-cyan;
}

.sr_only {
    @include m.srOnlyTitle();
}

.container {
    @include m.flex($flex-direction: column);
    padding: 2rem;
    background-color: v.$white;
    border-radius: 1.5rem 1.5rem 0 0;
}