@use "../abstracts/mixins.scss" as m;
@use "../abstracts/variables" as v;

body {
    @include m.flex-horizontal($align-items: flex-end);
    font-family: v.$ff;
    background-color: v.$light-grayish-cyan;
    min-height: 100vh;
}

.sr_only {
    @include m.srOnlyTitle();
}

.container {
    @include m.flex-horizontal($flex-direction: column, $gap: 0);
}

.inner_box {    
    @include m.flex-vertical($gap: 2rem);
    padding: 2rem;
    background-color: v.$white;
    border-radius: 1.5rem 1.5rem 0 0;
}

.main_logo {
    padding-block: 2.5rem;
}


@media screen and (min-width: v.$min-width) {
    body {
        @include m.flex-horizontal();
    }
    
    .inner_box {
        @include m.flex-horizontal($align-items: unset);
        box-shadow: 0 3rem 5rem -4rem v.$grayish-cyan;
        border-radius: 1.5rem;
        padding: 2rem;
        gap: 2rem;
        max-width: 57.5rem;
    }

    .main_logo {
        padding: 0;
        position: relative;
        bottom: 5rem;
    }
}