@use "../abstracts/mixins.scss" as m;
@use "../abstracts/variables" as v;

.tip_calculator {
    @include m.flex-vertical($gap: 2rem);

    @media screen and (min-width: v.$min-width) {
        flex: 1;
        padding: 1rem;
        gap: 2.5rem;
    }
    
    /* Calculator bill and calculator people number */
    .calculator_bill,
    .calculator_people_number {
        @include m.flex-vertical($gap: .5rem);
        width: 100%;

        .bill_label,
        .number_label {
            @include m.flex-horizontal($justify-content: space-between);
            width: inherit;

            .label_text {
                color: v.$dark-grayish-cyan;
            }
            
            .label_error {
                color: v.$error;
                visibility: hidden;
                opacity: 0;
                transition: all .5s ease-in-out;
            }
        }

        .bill_compile,
        .number_compile {
            @include m.flex-horizontal($justify-content: flex-start);
            width: 100%;
            background-color: v.$very-light-grayish-cyan;
            position: relative;
            height: 3rem;
            border-radius: .5rem;
            padding-block: .5rem;
            padding-inline: 1rem;
            cursor: pointer;
            border: 2px solid transparent;
            transition: all .5s ease-in-out;

            /*
            .compile_dollar_icon {}
            */

            .compile_input {
                text-align: right;
                color: v.$very-dark-cyan;
                font-size: v.$fs;
                background-color: transparent;
                width: 100%;
                border: none;
                outline: none;
                cursor: inherit;
                
                &::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                }

                &::placeholder {
                    color: v.$grayish-cyan;
                }
            }
        }

        #valid {
            border: 2px solid v.$strong-cyan;
        }

        #error {
            border: 2px solid v.$error;
        }
    }

    /* calculator tip */
    .calculator_tip {
        @include m.flex-vertical($gap: 1rem);

        .tip_label {
            color: v.$dark-grayish-cyan;
        }

        .tip_options {
            @include m.flex-horizontal($justify-content: flex-start);
            flex-wrap: wrap;

            @media screen and (min-width: v.$min-width) {
                gap: .875rem;
            }

            .tip_percentage,
            .tip_custom {
                flex-basis: 9.125rem;
                border: none;
                border-radius: .25rem;
                font-size: v.$fs;
                padding-block: .375rem;
                padding-inline: 1rem;
                cursor: pointer;

                @media screen and (min-width: v.$min-width) {
                    flex-basis: 7.25rem;
                }
            }

            .tip_percentage {
                background-color: v.$very-dark-cyan;
                color: v.$white;
            }

            .tip_custom {
                text-align: right;
                background-color: v.$very-light-grayish-cyan;
                max-width: 9.125rem;
                outline: none;
                color: v.$very-dark-cyan;
                border: 2px solid transparent;

                @media screen and (min-width: v.$min-width) {
                    max-width: 7.25rem;
                    padding-inline-start: 0;
                }

                &::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                }
                
                &::placeholder {
                    color: v.$dark-grayish-cyan;
                }
            }
        }
    }
}